<h1> All Photos </h1>
<div>
<a class="btn btn-default btn-block" href="/photos/new"> Add a new photo </a>
</div>
<%@all_photos.each do |the_photo|%>
<div class ="thumbnail">
  <img src="<%=the_photo.source %>">
  <div>
    <a class="btn btn-default btn-block" href="/photos/<%=the_photo.id %>"> Show Details </a>
  </div>
  <div>
    <a class="btn btn-default btn-block" href="/photos/<%=the_photo.id %>/edit"> Edit </a>
  </div>
  <div>
    <a class="btn btn-default btn-block" href="/photos/<%=the_photo.id %>/delete"> Delete </a>
  </div>
</div>
<% end %>
